<footer class="bottom-nav">
	<div class="bottom-menu">
		<nav>
			<a class="nav-bottom-menu-link" href="#">home</a>
			<a class="nav-bottom-menu-link" href="#">news</a>
			<a class="nav-bottom-menu-link" href="#">contact</a>
			<a class="nav-bottom-menu-link" href="#">about us</a>
			<a class="nav-bottom-menu-link" href="#">feedback</a>
			<a class="nav-bottom-menu-link" href="#">delivery information</a>
			<a class="nav-bottom-menu-link" href="#">cart</a>
		</nav>
	</div>

	<div class="bottom-info">
		<div class="shipping-reservation-info">
			<div class="shipping-info">
				<div class="bold">Shipping</div>
				<a href="viber://chat?number=+380632913030">+38(063)291-3030</a>
				<div>10:00–22:00</div>
			</div>
			<div class="reservation-info">
				<div class="bold">Restaurant</div>
				<div class="bold">Make a reservation</div>
				<div>vul. V. Vasylkivska, 44</div>
				<div>Kuiv</div>
				<div>+38(050)425-0404</div>
				<div>Mo – Fr: 9:00–23:00</div>
				<div>Sa – Su: 11:00–23:00</div>
			</div>
			<a class="btm-fb-info" href="https://www.facebook.com/mamamanana.kiev" target="_blank">V. Vasylkivska, 44</a>
		</div>
		<div class="shipping-reservation-info">
			<div class="shipping-info">
				<div class="bold">Shipping</div>
				<a href="viber://chat?number=+380632913030">+38(063)291-3030</a>
				<div>10:00–22:00</div>
			</div>
			<div class="reservation-info">
				<div class="bold">Restaurant</div>
				<div class="bold">Make a reservation</div>
				<div>pl. Pavlivska, 20</div>
				<div>Kharkiv</div>
				<div>+38(050)416-1017</div>
				<div>Mo – Fr: 9:00–23:00</div>
				<div>Sa – Su: 11:00–23:00</div>
			</div>
			<a class="btm-fb-info" href="https://www.facebook.com/mamamananakharkiv" target="_blank">pl. Pavlivska, 20</a>
		</div>
		<div class="shipping-reservation-info">
			<div class="shipping-info">
				<div class="bold">Shipping</div>
				<a href="viber://chat?number=+380632913030">+38(063)291-3030</a>
				<div>10:00–22:00</div>
			</div>
			<div class="reservation-info">
				<div class="bold">Restaurant</div>
				<div class="bold">Make a reservation</div>
				<div>vul. H. Kirpy, 5-b</div>
				<div>Kuiv</div>
				<div>+38(068)722-0077</div>
				<div>Mo – Fr: 9:00–23:00</div>
				<div>Sa – Su: 11:00–23:00</div>
			</div>
			<a class="btm-fb-info" href="https://www.facebook.com/mamamananasouth" target="_blank">vul. H. Kirpy, 5-b</a>
		</div>
	</div>
	<div class="footer">
		<a href="https://www.youtube.com/channel/UCxq-Wana8XvnfSErRzaot9A" target="_blank">
			<img src="~/images/site-images/youtube.png" />
		</a>
		<a href="https://www.instagram.com/mamamanana.com.ua/" target="_blank">
			<img src="~/images/site-images/instagram.png" />
		</a>
		<a href="https://www.facebook.com/mamamanana.kiev" target="_blank">
			<img src="~/images/site-images/facebook.png" />
		</a>
		<a href="https://web.telegram.org" target="_blank">
			<img src="~/images/site-images/telegram.png" />
		</a>
	</div>
</footer>